---
layout: null
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ubuntu install settings</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.vertical-tabs.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <div class="container">
 <div class="row">
        <h2>Ubuntu install settings</h2>
        <div class="col-xs-3"> <!-- required for floating -->
          <!-- Nav tabs -->
            {% assign p_s = site.posts | sort:title  %}
          <ul class="nav nav-tabs tabs-left">
          {% for post in p_s %}
            <li><a href="#{{ post.category }}" data-toggle="tab">{{ post.title }}. {{ post.category | capitalize }}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div class="col-xs-9 asd" >
          <!-- Tab panes -->
            
          <div class="tab-content">
          {% for post in site.posts %}
            <div class="tab-pane " id="{{ post.category }}">{{ post.content }}</div>
          {% endfor %}
          </div>
        </div>

        <div class="clearfix"></div>

 


    </div>




  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>


